button{
    height:100px;
    width:100px;
}

table{
    border-collapse: collapse; 
}

td{
    padding: 10px;
}

table, th, td{
    border: 1px solid black;
}

.switch{
    float: right;
}

#play_ai{
    height: 100px;
    width: 100px;
}